@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"].</h2>
<section id="socialLoginForm">
    @{
        var LoginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
        if (LoginProviders.Count == 0)
        {
            <div>
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
        }
        else
        {
            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div id="socialLoginList">
                    <p>
                        @foreach (var p in LoginProviders)
                        {
                            <button type="submit" class="btn btn-default" id="@p.Name" name="provider" value="@p.Name" title="Log in using your @p.DisplayName account">@p.Name</button>
                        }
                    </p>
                </div>
            </form>
        }
    }
</section>
