@inject Microsoft.Dnx.Runtime.IRuntimeEnvironment RuntimeEnv
@{
    ViewData["Title"] = "Test Page";
}

<h2>@ViewData["Title"]</h2>
<p>Operating system version: @RuntimeEnv.OperatingSystemVersion</p>
<p>DNX runtime version: @RuntimeEnv.RuntimeVersion</p>
<p>DNX runtime architecture: @RuntimeEnv.RuntimeArchitecture</p>
<p>DNX runtime type: @RuntimeEnv.RuntimeType</p>
@Html.DropDownList("Hello", Html.GetEnumSelectList<DayOfWeek>())


@section Scripts {
    <script>
        $(function () {

        });
    </script>
}
